* {
    font-family: "Bebas Neue Regular";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

p {
    color: #979797;
    margin: 0 0 16px 0;
    font-size: 24px;
}

section {
    padding: 64px 128px;
}

img, iframe {
    width: 100%;
}

.btn {
    background-color: orange;
    color: black;
    padding: 8px 24px;
}

.btn-alt {
    background-color: white;
    color: white;
    margin-right: 16px;
    border: 2px solid orange;
}

.btn-shine {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 40px;
  text-decoration: none;
  white-space: nowrap;
}   
@keyframes shine {
  0% {
    background-position: 0;}
  60% {
    background-position: 250px;}
  100% {
    background-position: 300px;}
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 5;
    border-bottom: 1px solid black;
    transition: color .3s is ease-in-out;
    box-shadow: 0 10px 30px black;
}

#header h1 {
    color: white;
    margin: 0;
    /* animation: flash is infinite; */
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em; opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text-pop-up-top {
    0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 20% 20%;
            transform-origin: 20% 20%;
    text-shadow: none;
    }
    100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transform-origin: 20% 20%;
            transform-origin: 20% 20%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes text-pop-up-top {
    0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 20% 20%;
            transform-origin: 20% 20%;
    text-shadow: none;
    }
    100% {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    -webkit-transform-origin: 20% 20%;
            transform-origin: 20% 20%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

nav > a {
    margin-left: 12px;
    
}
nav > a:hover {
    color: orange;
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.50, 0.100, 0.150, 0.200) both; animation: text-pop-up-top 0.5s cubic-bezier(0.50) both;
}

.dropdown {
    position: flex;
    width: 100%;
    height: 500px;
    /* background-color: white; */
    border: 2px solid black;
    padding: 10px 0 5px;
    box-shadow: 10px 0 0 ;
}



